{%extends "userportal/base/qfpay_base.html"%}

{%block title%} 钱方-购买读卡器  {%endblock%}

{%block resource%}
	{{block.super}}
    <script type="text/javascript">
        $(document).ready(function () {
            $.initProv("#pro", "#city", "北京市", "东城区");
        });
    </script>
 
{%endblock%}

{%block container%}
<div class="container">
    <div class="clearfix">
        <div class="process" id="process5_shenma"></div>
        <div class="clearfix tempTip mt_20">
            <p class="tipContent2">欢迎成为钱方试点用户，试点期间我们免费提供读卡器，请提供配送地址</p>
        </div>
        <form class="clearfix mt_20" method="POST" action="">
           <div class="buy">
            <!--p class="title1">选择购买方式</p-->

            <!--p class="clearfix">
                <label class="clearfix ml_60 notForLine">
                    <input name="pay_deposit" type="radio" checked="checked" class="fl" value="deposit"/>
                    <span class="fl">支付押金200元</span>
                </label>
            </p-->

            <input name="pay_deposit" type="hidden" value="cod"/>
            <!--p class="clearfix">
                <label class="clearfix ml_60 notForLine">
                    <input name="pay_deposit" type="radio" checked class="fl" value="cod"/>
                    <span class="fl">货到付款</span>
                </label>
            </p-->

            <p class="title1 mt_20">配送地址</p>

            <p class="clearfix">
                <label class="clearfix ml_60 notForLine">
                    <input name="old_addr" id="oldaddr" type="radio" checked="checked" value="old" lass="fl"/>
                    <span class="fl" name="oldaddr">{{address}}</span>
                    
                </label>
            </p>

            <p class="clearfix">
                <label class="clearfix ml_60 notForLine">
                    <input name="old_addr" id="newaddr" type="radio" value="new" class="fl"/>
                    <span class="fl">变更配送地址</span>
                </label>
            </p>
            </div>
            <div class="clearfix verify" id="tradeaddr" style="display:none">
			<div class="clearfix verify">
                <span class="input_title">经营地址</span>
                <div>
                    <select name="province" class="f1" id="pro"></select>
                    <select name="city" class="f1" id="city"></select>
                </div>
                <span class="tipImg"></span>
                <span class="errTip">输入不能为空</span>
			</div>
		<div class="clearfix verify">
            <label class="clearfix">
                <span class="input_title"></span>
                <input  name="address" type="text" id="address" maxlength=30/>
            </label>
            <span class="tipImg"></span>
            <span class="errTip">输入不能为空</span>
        </div>

		<!--填写邮寄信息-->	
		<div class="clearfix verify">
            <label class="clearfix">
                <span class="input_title">联系人</span>
                <input type="text" id="contact" name="contact" maxlength=6/>
            </label>
            <span class="tipImg"></span>
            <span class="errTip">输入不能为空</span>
        </div>
        <div class="clearfix verify">
            <label class="clearfix">
                <span class="input_title">联系人手机号</span>
                <input type="text" id="mobile" name="mobile" maxlength=13/>
            </label>
            <span class="tipImg"></span>
            <span class="errTip">输入不能为空</span>
        </div>
        <!--div class="clearfix verify">
            <label class="clearfix">
                <span class="input_title">邮编</span>
                <input type="text" id="post" name="post" maxlength=6/>
            </label>
            <span class="tipImg"></span>
            <span class="errTip">输入不能为空</span>
        </div-->
        </div>

        <p class="form_btm mt_20"><input type="submit" id="purchase" class="button" value="立刻购买"></p>
        </form>
    </div>
</div>

<script>

	$("#newaddr").click(function(){
	$("#tradeaddr").toggle();
	});

	$("#oldaddr").click(function(){
	$("#tradeaddr").hide();
	});
   
	function verify_element(obj, verifyfunc){
	
		tipImg = obj.parent().nextAll(".tipImg");
		tipMsg = obj.parent().nextAll(".errTip");
		content = obj.val();
		error_msg = verifyfunc(content);
		if(error_msg.length != 0){
			tipImg.css({backgroundPosition : "left -26px"}).show();
			tipMsg.show().html(error_msg);
			return false;
			}
		else{
			tipImg.css({display: "inline-block",backgroundPosition : "left top" }).show();
			tipMsg.show().html("");
			return true;
			}
	}
	//验证地址信息
	function verify_addr(address){
		if($("#city").val() == "-1")
			return "请选择城市";
		if(address.length==0)
			return "输入不能为空";
		return "";
		}
	//验证手机号
	function verify_mobile(mobile) {
		if (mobile.length == 0)
			return "输入不能为空";
        if (mobile.match(/^0{0,1}(13[0-9]|15[0-9]|18[6-9]|180)[0-9]{8}$/)) {
            return "";
        } else {
            return "请输入有效的手机号";
        }
    }

	//验证邮编
	function verify_post(post){
	if (post.length==0)
		return "输入不能为空";
	if (post.match(/^\d{6}$/))
		return "";
	else
		return "请输入合法的邮政编码";
	}

	function verify_contact(contact){
		if (contact.length==0) return "输入不能为空";
		if (contact.match(/^[\u4e00-\u9fa5]{2,6}$/))
			return ""
		else
			return "请输入有效的联系人姓名"
	}
	//注册blur事件
	function blur_verify(obj,func)
	{
		obj.blur(function(){ verify_element(obj, func)});
	}

	blur_verify($("#mobile"), verify_mobile);
	blur_verify($("#address"), verify_addr);
	blur_verify($("#post"), verify_post);
	blur_verify($("#contact"), verify_contact);
	//提交的时候验证各个字段有效性
	$("#purchase").click(function(){
	addr_type = $("input[name='old_addr']:checked").val();
	if(addr_type == "old") return true;
	
	all_filled = true;
	all_filled &= verify_element($("#contact"),verify_contact);
	all_filled &= verify_element($("#address"), verify_addr);
	all_filled &= verify_element($("#mobile"), verify_mobile);
	all_filled &= verify_element($("#post"), verify_post);
	
	if(all_filled) return true;
	else return false;
	
	});

    //下边是二级校验的调用方法，当然$("#ID")中的ID是需要手动加在对应input元素上的，这里是身份证，所以取名ID。

    $("#manual").click(function () {
        $(this).hide();
        $(this).next().show();
    })
</script>

{%endblock%}
