{%extends "userportal/base/qfpay_base.html"%}

{%block resource%}

{{block.super}}
<link href="/static/css/account.css" media="screen" rel="stylesheet" type="text/css"/>
{%endblock%}

{% block title%}
钱方-用户登录
{%endblock%}

{%block header%}
<div class="header">
    <a class="logo" href="#"></a>

    <div class="help">
	<a href="/signup">注册</a><a href="/signin">登录</a>
	<a href="http://www.qfpay.com/how.html" target="_blank">帮助中心</a> 
	<!--a href="#">下载客户端</a-->
	</div>
</div>

{%endblock%}

{%block container%}

<div class="container">
    <div class="login clearfix">
        <form class="clearfix mt_20" method="POST" action="/signin">
            <p class="clearfix verify">
                <label class="clearfix">
                    <span class="input_title">手机号</span>
                    <input id="username" name="username" type="text" style="ime-mode:disabled" maxlength="11"/ value={{username}}>
                </label>
                <span class="tipImg"></span>
                <span class="errTip">输入不能为空</span>
                <span class="errors" id="mobileError">{{loginform.errors.username.as_text}}</span>
            </p>

            <p class="clearfix verify">
                <label class="clearfix">
                    <span class="input_title">密码</span>
                    <input name="password" id="password" type="password" oncopy="return false;" onpaste="return false;" maxlength="24"/>
                </label>
                <span class="tipImg"></span>
                <span class="errTip">输入不能为空</span>
                <span class="errors">{{loginform.errors.password.as_text}}</span>
            </p>
            <input class="button" type="submit" value="登录"/>
			<a class="forgot" href="/resetpwd">忘记密码</a>
        </form>
    </div>
</div>
<script>

    //*@*.*默认情况下都会判断input是不是为空，所以我在插件里面写好了去自动判断是否为空，
    //但是如果还要判断是否符合规范的话，就必须另外写校验函数了，比如下边的身份证号码的校验例子
    //首先，我会在插件里判断是否为空，这是第一级校验 ,一级校验的方法直接引入我写的js即可 ,在页面最上端
    //然后，我会调用你传给我的verify_id方法去校验是否符合身份证规范，并且将此时需要的错误提示传给我，
    function verify_id(obj) {
        if (obj.val().match(/^(\d{14}|\d{17})(\d|[xX])$/)) {
            return true;
        } else {
            return false;
        }
        //alert()
    }
    function verify_username(obj) {
        if (obj.val().match(/^(0{0,1}(13[0-9]|15[0-9]|18[6-9]|180)[0-9]{8})|(([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2}))$/)) {
            return true;
        } else {
            return false;
        }
    }
    //下边是二级校验的调用方法，当然$("#ID")中的ID是需要手动加在对应input元素上的，这里是身份证，所以取名ID。

    $("#ID").add_verify_listener(verify_id, "您输入的身份证号码格式有误");
    $("#username").add_verify_listener(verify_username, "您输入的电邮或手机格式有误");
	
	function indexOf(list, val){
		for (v=0; v<list.length; v++)
			if(val==list[v]) return v;
		return -1;
	}
	$(document).ready(function(){
		var userName = $("#username");
		keys = [8,9,13,46,108];
		if(userName){
			userName.keydown(function(evt){                     //非数字不能输入
				if(!evt.shiftKey 
                   &&((evt.keyCode >= 48 && evt.keyCode <= 57) //0~9
                   ||(evt.keyCode >= 96 && evt.keyCode <= 105) //数字键盘的0~9
                   || indexOf(keys, evt.keyCode)>=0) //backspace|tab|enter
				  )
				{
					$("#mobileError").html("");
					return true;
				}
				else{
					$("#mobileError").html("请用手机号登录");
					return false;
				}
			}).keyup(function(evt){
				if((evt.keyCode == 8|| evt.keyCode==46 )&& $(this).val().length == 0)
					$("#password").val("");
			});
		}
	});
	
</script>

{%endblock%}
