{%extends "userportal/base/qfpay_base.html"%}

{%block title%} 钱方支付使用协议 {%endblock%}

{%block header%}
		<div class="header">
			<a class="logo" href="#"></a>
		</div>
{%endblock%}

{%block container%}		
		<div class="container">
        	<h3>用户协议</h3>
       		 <div class="container_a">
            	<textarea name="textarea" id="textarea" readonly="readonly" cols="45" rows="5" style="width:800px;height:600px; border:1px solid #c1c1c1; padding:5px; color:#8e8e8e; font-size:12px;">
                商户收款业务服务协议 

商户收款业务服务协议 

甲方： 

乙方： 北京钱方银通科技有限公司                                       

甲方和乙方经友好协商，本着自愿、互助、互利的合作原则，就甲方使用乙方提供的机具受理 银联卡实现 收款业务，达成如下协议： 

一、双方声明 

1 、本合约双方均具有／或经授权等方式合法取得签约主体资格，以确保签约有效。 

2 、本合约双方当事人均知悉并完全理解本合约内容，同意按照本合约的有关条款办理受理终端安装和受理 银联卡业务 。 

3 、本合约双方承诺遵守 银联卡受理 各项规章制度。 



二、本协议有关名词： 

1 、“银联卡”是指按照中国银联股份有限公司（以下简称“中国银联”）的业务、技术标准发行，卡面带有“银联”标识，发卡方标识代码（ BIN 号）经中国银 联分配 或确认的银行卡。 

2 、“银联卡交易”指持卡人在甲方购买商品或取得服务时，以 银联卡为 支付工具，通过机具进行支付结算的过程。 

三、乙方为确保甲方正常受理银联卡，向甲方提供下列服务： 

1 、提供受理银 联卡终端 并及时进行终端的维护。 

2 、提供受理 银联卡的 配套服务，包括但不限于：商户日常管理、商户维护、业务培训。 

3 、对发生的交易差错或需调整的账务，自甲方提出并经查实后，乙方配合相关机构及时对甲方办理账务调整。对发卡行退单，应及时通知甲方，并在甲方提供有效单据后，向发卡行再申请请款。 

4 、协助有关方为甲方提供 银联卡交易 的资金清算和差错处理服务。交易资金一般在交易完成后 1~3 个工作日到账，遇节假日顺延。 

5 、负责对终端收款业务的过程进行风险监控和管理。 

四 、甲方成为乙方终端使用商户，应承担以下责任与义务： 

1 、设备管理及使用 

(1) 甲方应妥善使用和保管乙方提供的终端，不得随意转借他人，不得随意挪用至非本协议约定营业地点；不得将其他商户交易假冒本商户交易；不得使用设备虚构交易为客户提取现金。因违规操作而导致的任何经济损失及相应的法律责任均应由甲方承担。 

(2) 甲方保证该终端除由乙方或乙方授权的相关人员进行维护和更换外，其他人员不得对该终端进行检测、维护、更换、移动或加装设备，以及信息侧录；如因使用、保管不当造成终端丢失、灭失、损坏、业务停用或其他不良后果，甲方应负全部责任，如造成乙方损失的，甲方负责全额赔偿。 

2 、 银联卡的 受理及签购单的保管 

(1) 甲方应积极配合乙方在其营业场所或收银台粘贴、摆放 银联卡受理 标识，以保证持卡人的知情权，避免在阳光直射、高温、潮湿或接近强磁场等环境下使用受理终端。 

(2) 甲方对所有乙方支持的 银联卡受理 必须一视同仁，不得以任何理由刁难或拒绝任何一种 银联卡的 合法交易。甲方对持卡人使用 银联卡支付 费用必须与支付现金一视同仁，不得采用不同价格或提供低于采用现金支付水平的产品或服务。甲方不得将应付的 银联卡交易 手续费转嫁给持卡人，如有违反，乙方将对该笔交易款项予以拒付并退单，所造成的经济损失由甲方承担。 

(3) 甲方收银人员在受理 银联卡时 ，需按照乙方提供的操作指南进行终端操作，须仔细核对签购单上持卡人亲笔签名与银行卡背面的预留签名是否一致，如发现卡片有伪造痕迹，或其他任何疑问应及时与乙方联系。核验无误后，请持卡人在手机上的签购单上签字，确认交易金额是否正确。甲方未按照要求执行而导致的经济损失，由甲方自行承担。 

(4) 甲方应保证签购单上信息与商户消费凭证、银行卡等信息保持一致，并妥善保管持卡人签字的签购单及相关凭证至少 24 个月以上，签购单及消费凭证不得涂改，否则视为无效单据。交易发生后，持卡人对交易产生异议的，乙方有权向甲方调阅相关文件，甲方有义务配合乙方提供相关书面文件，如签购单、出货单等，若甲方未能履行义务而导致持卡人拒付，拒付交易款损失由甲方自行承担。交易款损失将从甲方后续交易资金中直接扣除，如甲方后续交易不足以支付持卡人拒付金额的，乙方有权代持卡人向甲方追偿。 

3 、安全与保密 

(1) 本协议签订时，甲方应配合乙方认真填写《渠道商户申请审批表》，提供真实有效的其营业执照复印件、税务登记证复印件、法定代表人身份证复印件等，当乙方为甲方提供回访服务或进行终端相关业务检查时，甲方应积极配合乙方相关人员工作，如乙方提出合理的签字、盖章等要求，甲方不得拒绝。 
(2) 为避免持卡人进行的欺诈交易为双方带来损失，甲方应对下列异常交易情况特别关注，及时与乙方联系： 

a. 卡面凸印卡号有更改痕迹，或终端机具显示卡号与凸印卡号不符； 

b. 持卡人未经选择即购买高价值或易变现商品； 

c. 持卡人购买多件同一类或同一规格商品； 

d. 持卡人不清楚本卡余额或可用信用额度，密码等，反复要求试刷卡； 

e. 持卡人以金额不足为由，反复要求 试刷不同 卡片； 

f. 要求人工授权或向乙方查询时，持卡人异常紧张或要求终止或取消交易； 

g. 持卡人在签购单上的签名与卡片背面预留的签名不一致。 

(3) 甲方应严格按照国家各项法律法规和人民银行、中国银联的要求受理银行卡及操作终端，不得进行如下违规操作：涂改签购单上交易要素、分单操作、套现、虚假交易、超授权限额使用、不仔细核对签名及银行卡有效期、以现金方式退货、超过规定期限请款等，甲方未按有关规定受理银行卡或有以上违规操作行为的（以乙方认定为准），清算机构将有权采取（包括但不限于）调单、挂账、限制清算、征收惩罚性手续费、限制 / 暂停交易。若给乙方或 其他第三方带来 损失的，甲方承担赔偿责任。 

(4) 当甲方发生业务承包或转让时（如包括受理银行卡）应及时通知乙方，并应事先征得乙方同意，并重新办理入网手续。否则乙方有权停止终端交易，并通知清算机构对交易资金做挂账处理。 
(5) 甲方同意乙方合理使用其风险信息，同时甲方有责任向乙方提供有关 银联卡诈骗 案件中必要的线索和证据，并协助乙方和有关部门处理案件。 

五、 交易手续费及账务处理： 
1 、 银联卡交易 手续费在交易本金中进行清分（参考《商户注册登记表》）。交易资金一般在交易完成后 1~3 个工作日到账，遇节假日顺延。 

2.甲方 银联卡交易 净金额（已扣除本协议规定的交易手续费）在甲方消费支付交易成功后（要求以终端显示屏显示“交易成功”并交客户签字为准。）由清算机构划拨至甲方提交给乙方的账户中，清算数据以转接机构或发卡机构的交易电子数据为准。 
3 、若甲方需变更账户，需提前 7 个工作日以书面方式加盖公章后正式通知乙方，乙方将甲方提出的变更时间和新的银行账户提交至清算机构更改系统注册，并从约定的时间起按新的账户划拨甲方银行卡交易资金。 

4.若甲方需要变更商户地址、联系方式等信息要素，需提前 7 个工作日以书面形式加盖公章后正式通知乙方，乙方将甲方提出的变更信息提交至清算机构，在系统中重新注册更新，并进行终端的变更。 
5.甲方财务人员每天应对当日发生的终端交易总额与所划拨至指定银行账户的交易资金进行核对，如有不符，应及时向乙方反映。 
6.持卡人或发卡机构、转接机构对刷卡交易有异议时，乙方有权要求甲方进行查询、查复或提供持卡人原始交易的有效签购单，甲方均应在 5 个工作日内回复并提交有效签购单。如未能按时回复、提交或提交无效签购单而造成发卡机构退单的，清算机构有权拒付并从甲方后续刷卡交易资金中抵扣相应款项或提出追索，由此产生的一切经济损失由甲方承担。 
7.持卡人对刷卡交易有异议或发生差错时，可通过甲方或持卡人的发卡机构向乙方查询投诉，各方均不得以任何理由推诿和拒绝受理查询投诉，同时乙方或甲方在收到持卡人投诉或相关方处理要求后，乙 方及甲方均有责任积极配合进行交易纠纷的调查取证和业务投诉，并及时按照有关规定办理相关交易的差错处理。 
8.本协议适用于持卡消费者在甲方使用联网人民币银行卡进行消费支付的每一笔交易，有关方发生交易投诉、差错和纠纷时，乙方和甲方应接受和执行转接机构或发卡行的处理结果；对于银行卡交易，若仍有争议，可经由中国银联及其入网成员机构共同组成的“银行卡争议处理委员会”裁定后执行。 
9.对于因转接机构或发卡机构系统等原因而导致的错误入账，甲方有义务配合调查并返还相应款项，清算机构将 暂延支付 交易款项，并有权追讨已支付的交易款项。 
10 、遇国家或金融监管部门对交易手续费标准的调整，甲方应在收到乙方书面通知之日起的 30 日内与 乙方重新签订协议或选择终止协议，如甲方未及时重签协议的，乙方有权终止甲方 银联卡交易 资格。 

六 、保密条款 

1 、甲乙双方均应严格遵守《银联卡账户及交易数据安全管理规则》相关保密规定。 

2 、在本协议的签订过程中、存续期间以及协议终止后，甲方始终负有保守其与乙方之间银行卡交易信息等商业秘密的义务，甲方应承担因泄露商业秘密而造成的一切损失的赔偿责任。 

3 、未经乙方书面同意，甲方不得向任何单位、个人透露银行卡持卡人资料、银行卡卡号以及使用银行卡交易的任何资料，国家另有规定的除外。 

七 、协议的终止 

1 、甲方出现 下述任 一种情况， 经指出 仍拒不纠正的，乙方有权单方面书面通知甲方终止本协议： 

(1) 自本协议签订之日起，连续三个月未受理银行卡结算业务的； 

(2) 多次无故拒绝受理 银联卡的 ； 

(3) 多次严重违反 银联卡业务 受理操作规程的； 

(4) 屡次无理拒绝或故意拖延乙方查询，查复和 调单要求 的； 

(5) 多次收到持卡人投诉，无法妥善处理相关问题的； 

(6) 经相关方申诉，乙方确认有严重违规行为的。 

2 、甲方出现以下任何一种欺诈行为或风险状况时，乙方有权单方面无条件终止本协议，且无须事先通知甲方，并立即终止其银联卡交易，收回设备，所产生的相关经济损失由甲方承担， 如果甲方拒绝承担相关经济损失，乙方有权从甲方押金中等额扣除相关 经济 损失， 同时乙方还有权依法追究甲方相应的法律责任，并对其不良行为予以曝光： 

(1) 套现或被认定有套现嫌疑：甲方与持卡人或 其它第三 方勾结，或甲方（或甲方员工）使用 自由银 联卡，以虚拟交易套取现金； 

(2) 虚假入网申请：以虚假资料或冒用其它商户的资料向乙方申请为特约商户； 

(3) 侧录：甲方默许、纵容、与不法分子共谋或发现后不制止不法分子在机具上 装载侧录仪器 ，盗录持卡人磁条信息，出卖给伪卡制作集团或自行制作伪卡； 

(4) 泄露账户及交易信息：甲方违反保密义务，将 银联卡持卡人 账户资料及交易数据信息泄漏给不法分子使用； 

(5) 洗单：甲方将其它未签约商户的交易在本商户的机上刷卡，假冒本店交易与乙方结算； 

(6) 恶意倒闭：甲方接受信用卡支付的预付款后故意破产，使乙方承担退单损失； 

(7) 虚假交易：在持卡人不知情的情况下，甲方利用持卡人账户编造虚假交易或在持卡人消费的同时重复刷卡，并冒用持卡人签名进行虚假交易； 

(8) 名义经营范围与实际情况不符； 

(9) 因银联卡 欺诈交易已被司法机关立案或介入调查； 

(10) 中国银联已书面通知收单机构强制解约； 

(11) 已被其他 卡组织 认定为“高风险商户”； 

(12) 经营不善，已破产或停业； 

(13) 其他欺诈风险原因。具体欺诈行为及风险状况定义见中国银联颁发的《银联卡收单机构商户风险管理规 则》。 

3 、甲方不得通过 银联卡交易 进行洗钱活动，一经发现或被举报，乙方有权单方面无条件终止本协议，且无须事先通知甲方，并立即终止其刷卡交易，收回设备，同时乙方还有权上报有关反洗 钱主管 部门，查处和追究甲方的法律责任，并对其不良行为予以曝光。 

4 、缔约一方如因本条第 1 、 2 款之外的其他原因需终止本协议时，必须提前 15 日以书面方式通知另一方。在此期间，双方必须继续履行本协议直至完成在协议期间发生的一切未了责任后，协议方可终止。 

5 、协议终止后，甲方应将产权归乙方的原有设备和已发生交易的凭条退还乙方，乙方在确认收回后退还甲方所缴纳的相应押金或设备折旧后的剩余金额。 

6 、协议终止后的 24 个月内，如有因以往交易引起的查询，甲方仍有义务配合乙方工作；如有交易因甲方违反本协议的条款导致发卡方拒付或退单的，乙方有权向甲方追索已付款项，由此造成的乙方的损失、发生的费用 ( 包括但不限于诉讼费、仲裁费、律师代理费等）以及原交易损失均由甲方承担。 

八 、其他 

1 、甲方应及时以书面方式向乙方提出申请以下变更事项：甲方公司名称、法人代表、负责人姓名、地址、经营许可范围、联系方式、所有权结构、结算账户等；甲方业务经营或销售方式变动或终止。 

2 、甲方在受理 银联卡时 ，若遇转接机构及其成员机构系统因故临时中断或其他原因造成持卡人支付交易不成功，乙方不承担相关责任，甲方应与持卡人商洽，采用其他方式进行支付结算。 

3 、本协议受中华人民共和国法律、法规和条例约束，双方因本协议发生纠纷，应本着友好协商的原则商议解决，若协商不成，任何一方均有权提交北京管理机构进行仲裁。除非另有规定，仲裁期间双方应当继续履行协议规定的义务。 

   若本协议部分条款被裁定无效或不能执行时，不影响其他条款的有效性、合法性，也不影响其他条款的履行。 

4 、《商户受理银联卡操作简要规则》是本协议附件，与本协议具有同等法律效力。 

5 、甲方声明：乙方已采取合理方式提请其注意本协议（含附件及填写项）的全部条款并对此做了说明，甲方自愿同意按照本协议的规定行使权利和履行责任与义务。 

6 、本协议有效期为 2 年。本协议有效期满后若甲方或乙方无任何异议将继续延续 1 年。 
                </textarea> 
       		 </div>
        </div>
{%endblock%}
