<option value="中国工商银行">中国工商银行</option>
<option value="招商银行">招商银行</option> 
<option value="中国银行">中国银行</option>
<option value="中国农业银行">中国农业银行</option>
<option value="中国光大银行">中国光大银行</option>
<option value="中国建设银行">中国建设银行</option>
<option value="交通银行">交通银行</option>
<option value="邮政储汇">邮政储汇</option>
<option value="中国民生银行">中国民生银行</option>
<option value="中信实业银行">中信实业银行</option>
<option value="上海浦东发展银行">上海浦东发展银行</option>
<option value="华夏银行">华夏银行</option>
<option value="广东发展银行">广东发展银行</option>
<option value="城市商业银行">城市商业银行</option>
<option value="农村商业银行">农村商业银行</option>
<option value="城市信用社">城市信用社</option>
<option value="农村信用联社">农村信用联社</option>
<option value="浙商银行">浙商银行</option>
<option value="青岛国际银行">青岛国际银行</option>
<option value="浙江商业银行">浙江商业银行</option>
<option value="中国农业发展银行">中国农业发展银行</option>
<option value="深圳发展银行">深圳发展银行</option>
<option value="平安银行">平安银行</option>
<option value="兴业银行">兴业银行</option>
<option value="珠海南通银行">珠海南通银行</option>
<option value="宁波国际银行">宁波国际银行</option>
<option value="新联商业银行">新联商业银行</option>
<option value="花旗银行">花旗银行</option>
<option value="厦门国际银行">厦门国际银行</option>
<option value="香港上海汇丰银行">香港上海汇丰银行</option>
<option value="东亚银行">东亚银行</option>
<option value="恒生银行">恒生银行</option>
<option value="恒丰银行">恒丰银行</option>
