{%extends "userportal/base/qfpay_base.html"%}

{%block title%} 用户隐私协议 {%endblock%}

{%block header%}
		<div class="header">
			<a class="logo" href="#"></a>
		</div>
{%endblock%}

{%block container%}
		<div class="container">
        	<h3>用户隐私保护条款</h3>
       		 <div class="container_a">
            	<textarea name="textarea" id="textarea" readonly="readonly" cols="45" rows="5" style="width:800px;height:600px; border:1px solid #c1c1c1; padding:5px; color:#8e8e8e; font-size:12px;">
                
	 
    本隐私的政策是为帮助用户管理其账号和私人信息而准备，同时也是北京钱方银通科技有限公司（以下简称钱方）对用户隐私保护的许诺。本隐私申明的全部条款属于用户协议的一部分。

简介
    为了安全使用钱方的支付服务并减少交易风险，钱方要求提供您的个人信息。这个隐私政策描述了我们收集的个人信息以及我们如何使用这些信息。钱方将尽一切可能严格保护您的个人信息，我们按照此隐私政策的规定使用您的个人信息。我们不会把您的个人信息透露给第三方，但司法机关及银行依据法律法规提取信息的情况除外。请您认真阅读隐私政策。这个隐私政策适用于在钱方进行的任何服务。如果您同意隐私政策，您就已经同意我们按照本隐私政策来使用和披露您的信息。如果您对隐私政策有任何疑问，请联系钱方。

变更通知
    由于我们以后有可能增加新的服务，所以这个政策也会随之更改。无论有任何改变，我们都会在30天内给您发送修正隐私政策的通知（如果您已经解除了与钱方的合作关系，您将不会收到修订隐私政策的通知）。同时我们也会随之及时更新网站上公布的内容。 

收集的信息
一、注册信息
如果想要享受钱方平台提供的服务，您必须先注册。
当您注册完这些信息以后，我们会对此信息进行验证，当通过验证后此商户才能进行使用。您只能通过您的登录名及密码来登录您的账户。如果您泄漏了密码，请立即更改密码。因为他人利用此密码有可能导致对您不利。
二、交易信息
当您发起某笔交易后，将会在钱方平台上产生交易记录，请关注交易的细节以便您实时了解交易进程。 
钱方对您的信息的准确性、完整性、合法性或真实性均不承担任何责任。您应完全对您提供的信息负责，而我们是作为被动的角色来发布或者公开您的信息。请您及时更新您的资料，使其保持真实、准确、完整。由于您提供的资料不真实、不准确、不完整或不能反映当前情况所造成的损失，钱方将不承担任何责任。倘若您提供任何不真实、不准确、不完整或不能反映当前情况的资料，一经发现，钱方有权冻结或取消您的注册账户。

信息的使用
一、内部用途 
我们所收集的您的信息主要用于以下方面： 
1.提供交易服务并处理您的交易。 
2.提供客户服务。 
3.改进我们的产品和服务。 
二、把您的信息及时告知交易方 
　　您的信用卡号码、银行来往账户和其他金融信息绝不会透露给包括钱方在内的任何人，只有当政府或者司法机关需要我们提供时，才会把您的私人信息作必要公布。 
　　为了提高我们的服务质量，更好的满足您的实际需求，我们会使用作为第三方服务的提供商来完成某些特定的服务。在这种情况下，您的某些个人资料将会被披露，包括但不限于邮件服务提供商，市场调查公司等。我们与第三方之间签署相关法律文件，用以确保所披露的个人资料仅用于特定的服务，除非得到您的明确同意，不得用于其他任何目的。 
　　当政府机关依照法定程序要求本网站披露个人资料时，本公司将根据执法单位之要求或为公共安全之目的提供个人资料。在上述情况下之任何披露，本公司均得免责。

客户服务
    如果您给我们发邮件或者发传真，我们会将您发送的信息保存下来。这样就可以检验和提高我们的客户服务质量，也可以调查一些潜在的欺诈和违反我们的用户协议的行为。

问卷调查
    为了分析用户兴趣和进行需求的统计，我们可能会给用户发一些调查问卷。如果在问卷调查中需要收集用户的个人身份信息，我们会在您填写调查问卷之前给出明确的通知，告知您这些信息将用于何种用途。
　
信息的安全
    您的个人/商业信息、交易历史以及所存资金都属于钱方的商业核心， 钱方将极力保护您的这些信息免受侵犯。
   我们将采用物理、电子以及流程等形式来保护您的私人信息。我们还将定期进行严格的测试系统，并聘请资深的公司来授权我们的安全系统和流程。
    信息安全还取决于您本人，请谨慎的保管好您的密码。我们强烈建议您不要把密码告诉他人。您的密码是以加密的格式保存在我们的系统中，钱方并不知道您的密码，也不会向您索取密码。所以，您接到任何邮件或者电话来索要您的密码，都是不正当的。如果您不小心泄漏了您的密码，请立即登录钱方网站更改您的密码。

不可抗拒力
   钱方已经采用业内较好的技术措施保护支付平台的安全，但鉴于网络技术的局限性，以下情况应视为不可抗力：
1．钱方已经采取了合理的安全手段，但仍遭受侵犯；
2．因硬件、操作系统、数据库、开发工具本身固有的技术缺陷而引起的用户资料数据受损或被窃取的；
3．灾难、战争等其他无法预见、无法避免且无法克服的客观情况。

违约责任
1．钱方违反本条款规定致使用户资料对外泄露的，应当赔偿用户因此所造成的直接经济损失，并且应当采取积极的办法作出补救；
2．用户违反本条款规定致使自身的用户资料被他人获取、破坏、对外泄露的，应当赔偿钱方因此所造成的直接经济损失。

                </textarea> 
       		 </div>
        </div>
{%endblock%}	
